@import "./styles/variables";

.wrapper {
  background: blue;
}

.movie-icon {
  align-content: center;
  background: $color-orange;
  padding: 5px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
}

.search-icon {
  display: flex;
  background: $color-white;
  align-content: center;
  margin-left: 5px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.search-not-clicked {
  display: flex;
  background: $color-orange-red;
  color: white;
  height: 80px;
  align-items: center;
}

.search-clicked {
  display: flex;
  background: $color-orange-red;
  color: #fff;
  height: 80px;
  align-items: center;
}

.input-clicked {
  outline: none;
  background: $color-white;
  padding: 0px;
  height: 40px;
  width: 85%;
  border: none;
  align-items: right;
  padding-left: 64px;
  background-image: url(./assets/img/movie.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
}

.input-not-clicked {
  background-color: $color-orange;
  padding: 0px;
  color: white;
  height: 40px;
  width: 90%;
  border: none;
  align-items: left;
  cursor: pointer;
}
